/*Richard Saseun CSS Styles*/

/*Default Styles*/
// General style overrides and custom classes
body{
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}
